<% if @order.errors.any? %>
  <%= @order.errors.count %>件のエラーが発生しました
  <% @order.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= flash[:danger] %>
<div class="row mt-5">
  <div class="col-auto offset-1">
    <h4 class="mb-0 bg-gray">注文情報入力</h4>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <h5>支払い方法</h5>
  </div>
</div>
<%#= form_with model: cart_item, url: cart_item_path(cart_item), method: :PATCH, local:true do |f| %>
<%= form_with model: @order, url: orders_confirm_path, method: :POST, local:true do |f| %>
  <div class="row">
    <div class="col ml-5">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      <%#= f.radio_button :payment_method, "credit_card" %>
      <%#= f.label :payment_method, "クレジットカード" %>
    </div>
  </div>
  <div class="row">
    <div class="col ml-5">
      <%#= f.radio_button :payment_method, "transfer" %>
      <%#= f.label :payment_method, "銀行振込" %> 
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <h5>お届け先</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col ml-5">
      <%= f.radio_button :select_address, "0" %>
      <%= f.label :select_address, "ご自身の住所" %> 
    </div>
  </div>
  <div class="row">
    <div class="col ml-5">
      <h6 class="ml-4">
        <%= @customer_address %>
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col ml-5">
      <h6 class="ml-4">
        <%= @customer_last_name %><%= @customer_first_name %>
      </h6>
    </div>
  </div>
  
  <div class="row">
    <div class="col ml-5">
      <%= f.radio_button :select_address, "1" %>
      <%= f.label :select_address, "登録済み住所から選択" %> 
    </div>
  </div>
  
  <div class="row">
    <div class="col ml-5">
      <h6 class="ml-4">
        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address) %>
      </h6>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col ml-5">
      <%= f.radio_button :select_address, "2" %>
      <%= f.label :select_address, "新しいお届け先" %> 
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-3 ml-5 my-auto">
      <h6 class="ml-4 my-auto">
        郵便番号(ハイフンなし)
      </h6>
    </div>
    <div class="col-3">
      <%= f.text_field :postal_code,class: "form-control" %>
      <%#= f.text_field :last_name,class: 'form-control',autofocus: true, autocomplete: "last_name" %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3 ml-5 my-auto">
      <h6 class="ml-4 my-auto">
        住所
      </h6>
    </div>
    <div class="col-7">
      <%= f.text_field :address,class: "form-control" %>
      <%#= f.text_field :last_name,class: 'form-control',autofocus: true, autocomplete: "last_name" %>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-3 ml-5 my-auto">
      <h6 class="ml-4 my-auto">
        宛名
      </h6>
    </div>
    <div class="col-3">
      <%= f.text_field :name,class: "form-control" %>
      <%#= f.text_field :last_name,class: 'form-control',autofocus: true, autocomplete: "last_name" %>
    </div>
 </div>
  <%= f.submit %>
<%end%>